<!--Login name: <input type='text' [(ngModel)]='username'/><br/>-->
<!--Password:   <input type='text' [(ngModel)]='password'/><br/>-->
<!--<input type='button' value='login' (click)='login()'/>-->
<!--<br/><br/>-->
<!--Token: {{token}}<br/>-->
<!--Message: {{message}}-->
<!--<br/><br/>-->

<!--&lt;!&ndash; Gets content for authenticated users only. &ndash;&gt;-->
<!--<input type='button' value='Get Secure Message' (click)='getSecureData()'><br/>-->
<!--{{secureData}}-->
<!--<br/><br/>-->

<!--&lt;!&ndash; Gets content for managers and admins only. &ndash;&gt;-->
<!--<input type='button' value='Get Manager Message' (click)='getManagerData()'><br/>-->
<!--{{managerData}}<br/>-->
<!--<div *ngIf="reqInfo">{{reqInfo.username}}-->
<!--    <ul *ngFor='let role of reqInfo.roles'>-->
<!--        {{role}}-->
<!--    </ul>-->
<!--</div>-->
<!--<br/><br/>-->

<!--&lt;!&ndash; POSTS data to server but only if logged in. &ndash;&gt;-->
<!--<input type='button' value='Post Secure Message'-->
<!--       (click)='postSecureMessage()'><br/>-->
<!--       {{msgFromServer}}-->
<!--<br/><br/>-->

<!--&lt;!&ndash; Logs user out. &ndash;&gt;-->
<!--<input type='button' value='Logout' (click)='logout()'>-->
<!--<br/><br/>-->
This page should never load.
