<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <style>
        p, div, table {
            margin-left: 20px;
        }
        .msg {
            padding-bottom: 15px;
        }
        .vote {
            height: 20px;
            width: 20px;
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0;
            line-height: 11px;
        }
        .del {
            height: 25px;
            width: 25px;
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0;
            line-height: 11px;
        }
        .votes {
            padding-left: 15px;
            padding-right: 5px;
        }
        .liveMessenger {
            padding-right:50px;
        }
        .threads {
            padding-left:50px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td class="liveMessenger">
            <table>
                <tr *ngFor="let message of msgArray" (click)="setCurrentThread(message)"
                    class="message" id="{{message._id}}">

                    <td class="msg" style="font-size:9px">
                        {{message.date | date:'shortTime' }}
                    </td>
                    <td class="msg" style="color:orange;">
                        <input *ngIf="message['author']==username" class="del" value="🗑️"
                               (click)="delete(message._id)" style="color:goldenrod">
                        [{{message["author"]}}]
                    </td>
                    <td class="msg" id="content" style="color:white;">
                        {{message.content}}
                    </td>
                    <td class="votes">
                        {{message.votes}}
                    </td>
                    <td>
                        <button class="vote" style="color:greenyellow"
                                (click)="vote(true, message)">⟰
                        </button>
                        <br>
                        <button class="vote" style="color:darkred"
                                (click)="vote(false, message)">⟱
                        </button>
                    </td>
                </tr>
            </table>
        </td>

        <td class="threads">
            <table *ngIf="currentThread">
                <tr>
                    <td class="msg" style="font-size:9px">
                        {{currentThread?.date | date:'shortTime' }}
                    </td>
                    <td class="msg" style="color:orange; width: 50px;">
                        [{{currentThread?.author}}]
                    </td>
                    <td class="msg" style="color:white">
                        {{currentThread?.content}}
                    </td>
                    <td style="padding-left: 200px;"></td>
                    <td class="votes">
                        {{currentThread?.votes}}
                    </td>
                    <td>
                        <button class="vote" style="color:greenyellow"
                                (click)="vote(true, currentThread)">⟰
                        </button>
                        <br>
                        <button class="vote" style="color:darkred"
                                (click)="vote(false, currentThread)">⟱
                        </button>
                    </td>
                </tr>

                <tr *ngIf="currentReplies?.length==0">
                    <td></td>
                    <td></td>
                    <td>This post has no replies.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr *ngFor="let message of currentReplies?currentReplies:[]">
                    <td></td>
                    <td class="msg" style="font-size:9px">
                        {{message.date | date:'shortTime' }}
                    </td>
                    <td class="msg" style="color:orange">
                        <input *ngIf="message['author']==username" class="del" value="🗑️"
                               (click)="delete(message._id)">
                        [{{message.author}}]
                    </td>
                    <td class="msg" style="color:white">
                        {{message.content}}
                    </td>
                    <td class="votes">
                        {{message.votes}}
                    </td>
                    <td>
                        <button class="vote" style="color:greenyellow"
                                (click)="vote(true, message);getAllMessages()">⟰
                        </button>
                        <br>
                        <button class="vote" style="color:darkred"
                                (click)="vote(false, message);getAllMessages()">⟱
                        </button>
                    </td>
                </tr>
            </table>
        </td>
</tr><tr>
        <td class="liveMessenger">
            <table>
                <td><input mdbInput type="text" name="content" [(ngModel)]="_content" required></td>
                <input type="submit" value="Post Message" (click)="createMessage();clearMessage()">
            </table>
        </td>

        <td class="threads">
            <table style="float: right">
                <td><input mdbInput type="text" name="replyContent" [(ngModel)]="_replyContent" required></td>
                <input type="submit" value="Post Reply" (click)="createMessage(currentThread._id);clearReply()">
            </table>
        </td>
    </tr>
</table>

</body>
</html>
