section {
    background-color: gray;
}

.bottomRight {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    border: 3px solid #73AD21;
    background-color: greenyellow;
} 

input.ng-invalid:not(.ng-pristine) {
    border: 3px solid #d93a3e;
}

.invalid{
    color: #d93a3e;
}

button[type=submit]:disabled {
    background-color: #333;
    color: #666;
}



