<section  [gameSold]="gameItem.isSold" (click)="onClick($event.target.textContent)"
         class="card item-body mb-2">
    <div [gameSold]="gameItem.isSold" class="sold">SOLD</div>
    <div class = "card-body pb-0">
        <!-- gameItem.imgSrc-> static imgfile for now-->
       <img class="card-img img-fluid rounded-border w-80 h-50" src="../../assets/img/fury.PNG" alt="item">
        <h4 class= "card-header border-0">{{gameItem.productName}}</h4>
        <!--<p class="card-text text-truncate">{{gameItem.description}}</p>-->
    </div>
    <ul  class="list-group list-group-flush list-body">
        <li [gameSold]="gameItem.isSold" class="list-group-item text-truncate">Game Title: {{gameItem.category}}</li>
        <li [gameSold]="gameItem.isSold" class="list-group-item text-truncate ">Description: {{gameItem.description }}</li>
        <li [gameSold]="gameItem.isSold" class="list-group-item text-truncate">Price: ${{gameItem.price}}</li>
        <li [gameSold]="gameItem.isSold" class="list-group-item text-truncate">Quantity: {{gameItem.quantity}}</li>
<!--        <li [gameSold]="gameItem.isSold" class="list-group-item text-truncate">Date Posted: {{gameItem.date | date:'mediumDate'}}</li>-->
    </ul>

    <div class="card-body">
        <div class="btn-group" aria-label="Option" >
            <button  [disabled]="gameItem.isSold == true" [gameSold]="gameItem.isSold" (click)="buyProduct(gameItem._id,gameItem.productName, gameItem.category, gameItem.description, gameItem.price, gameItem.date, gameItem.quantity);refresh()" class="btn btn-info mr-2">Buy</button>
            <button [disabled]="gameItem.isSold == true" [gameSold]="gameItem.isSold"
                    (click)="onDetail(gameItem)" class="btn btn-info"  data-toggle="modal"  data-target="#detail">Detail</button>
        </div>
        <div class="card-footer p-0">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

</section>
